<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="~/Pictures/Site/ico.ico">
    <!-- Author Meta -->
    <meta name="author" content="colorlib">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">

    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="/Content/icon-font.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="/Content/animate.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="/Content/hamburgers.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="/Content/animsition.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="/Content/select2.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="/Content/daterangepicker.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="/Content/util.css" rel="stylesheet" />
    <link href="/Content/main.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <!--===============================================================================================-->
    <script src="/Scripts/jquery-1.10.2.min.js"></script>
    <!--===============================================================================================-->
    <script src="/Scripts/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="/Scripts/popper.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="/Scripts/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="/Scripts/moment.min.js"></script>
    <script src="/Scripts/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="/Scripts/countdowntime.js"></script>
    <!--===============================================================================================-->
    @*<script src="/Scripts/main.js"></script>*@
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <style>
        .input-validation-error {
            color: red;
        }

        .input100 valid {
            color: red;
        }

        .input100 input-validation-error {
            color: red;
        }
    </style>

</head>

<body>


    @RenderBody()
</body>
</html>
