
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sayfa Bulunamadı</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div align="center">
        <img src="~/Pictures/Site/Error.jpg" />
        <h1>Ulaşmak istediğiniz yer bu dünyada değil.</h1>     
    </div>
</body>
</html>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
        $(function () {
            setTimeout(function () {
            window.location.href='@Url.Action("NewsList","Member")'
        }, 5000)
    });
</script>
